<div id="loginPanel" class="tab-pane fade in active" style="margin-top: 5%">

    <form id="login" class="form-inline" method="POST" action="/">
        <input class="form-control auth-input-field" name="Username" type="text" placeholder="Логин" />
        <input class="form-control auth-input-field" name="Password" type="password" placeholder="Пароль" />
        <input type="submit" value="Войти" class="btn btn-info common-color" id="sign-in-button" />
    </form>

</div>