<div id="regPanel" class="tab-pane fade">

    <form id="reg" class="form-horizontal" method="POST" action="~/signup">

        <div class="control-group" style="margin-top: 10px">
            <!-- Username -->
            <p>Логин:</p>
            <div class="controls">
                <input class="form-control" name="Username" type="text" />
            </div>
        </div>

        <div class="control-group" style="margin-top: 10px">
            <!-- Username -->
            <p>Пароль</p>
            <div class="controls">
                <input class="form-control" name="Password" type="password" />
            </div>
        </div>

        <div class="control-group" style="margin-top: 10px">
            <!-- Username -->
            <p>Имя</p>
            <div class="controls">
                <input class="form-control" name="Firstname" type="text" />
            </div>
        </div>

        <div class="control-group" style="margin-top: 10px">
            <!-- Username -->
            <p>Фамилия</p>
            <div class="controls">
                <input class="form-control" name="Lastname" type="text" />
            </div>
        </div>

        <div class="control-group" style="margin-top: 10px">
            <!-- Username -->
            <p>Класс</p>
            <div class="controls">
                <input class="form-control" name="Class" type="text" />
            </div>
        </div>

        <div class="control-group text-center" style="margin-top: 10px">
            <input type="submit" value="Регистрация" class="btn btn-info common-color" />
        </div>

    </form>


</div>
