<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <configSections>

    <section name="razor" type="Nancy.ViewEngines.Razor.RazorConfigurationSection, Nancy.ViewEngines.Razor" />
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />

    <sectionGroup name="system.web.webPages.razor" type="System.Web.WebPages.Razor.Configuration.RazorWebSectionGroup, System.Web.WebPages.Razor, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35">
      <section name="host" type="System.Web.WebPages.Razor.Configuration.HostSection, System.Web.WebPages.Razor, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="false" />
      <section name="pages" type="System.Web.WebPages.Razor.Configuration.RazorPagesSection, System.Web.WebPages.Razor, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="false" />
    </sectionGroup>

  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
  </startup>


  <system.web>
    <compilation>
      <buildProviders>
        <add extension=".cshtml" type="Nancy.ViewEngines.Razor.BuildProviders.NancyCSharpRazorBuildProvider, Nancy.ViewEngines.Razor.BuildProviders" />
        <add extension=".vbhtml" type="Nancy.ViewEngines.Razor.BuildProviders.NancyVisualBasicRazorBuildProvider, Nancy.ViewEngines.Razor.BuildProviders" />
      </buildProviders>
    </compilation>
  </system.web>

  <razor disableAutoIncludeModelNamespace="false">
    <assemblies>
      <add assembly="G2WebApp" />
      <add assembly="G2WebApp.Core" />
    </assemblies>
    <namespaces>
      <add namespace="G2WebApp" />
      <add namespace="G2WebApp.Core" />
      <add namespace="G2WebApp.Core.Data" />
      <add namespace="G2WebApp.Core.Data.Entities" />
      <add namespace="G2WebApp.Core.Data.ViewModels" />
    </namespaces>
  </razor>

  <connectionStrings>
    <add name="Database" connectionString="Data Source=database.db" providerName="System.Data.SQLite" />
  </connectionStrings>

  <system.web.webPages.razor>
    <pages pageBaseType="Nancy.ViewEngines.Razor.NancyRazorViewBase">
      <namespaces>
        <add namespace="Nancy.ViewEngines.Razor" />
      </namespaces>
    </pages>
  </system.web.webPages.razor>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Razor" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>

  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <targets>
      <target name="run_log" xsi:type="File" layout="[${longdate}|${level}]: ${message}" deleteOldFileOnStartup="false" concurrentWrites="true" KeepFileOpen="False" fileName="${basedir}/Application.log" />
    </targets>
    <rules>
      <logger name="*" minlevel="Debug" writeTo="run_log" />
    </rules>
  </nlog>
  <appSettings>
    <add key="webPages:Enabled" value="false" />
  </appSettings>
</configuration>
