<div class="list-group" style="max-width: 900px">
    <button type="button" onclick="window.location.href = '/admin/showAllPosts'" class="list-group-item">Посмотреть все посты</button>
    <button type="button" onclick="window.location.href = '/admin/showAllComments'" class="list-group-item">Посмотреть все комментарии</button>
    <button type="button" onclick="window.location.href = '/admin/showAllUsers'" class="list-group-item">Посмотреть всех пользователей</button>
</div>